/*.fab[mini] {
    margin: 2px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    font-size: 2rem;
}*/

.chat-background-page {
     background-image:url("../img/chat-background.jpg") !important;
     background-repeat:no-repeat;
     background-size:cover;
     overflow:hidden;
}